<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SsrsViewer.Properties.Settings.SPC_DEV_H4CIConnectionString"
            connectionString="Data Source=ROB-LT;Initial Catalog=SPC_DEV_H4CI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>